<form id="searchForm" action="/search/" method="get">
    <div class="input-group">
        <input type="text" placeholder="search for..." name="query" />
        <button type="submit" class="btn btn-info" style="cursor:pointer;">
            <span class="fa fa-search"></span>
        </button>
    </div>
</form>