<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT sliderBase ANY>
<!ATTLIST sliderBase id ID #REQUIRED>
<!ELEMENT contactBase ANY>
<!ATTLIST contactBase id ID #REQUIRED>
<!ELEMENT contactForm ANY>
<!ATTLIST contactForm id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT aboutPage ANY>
<!ATTLIST aboutPage id ID #REQUIRED>
<!ELEMENT projects ANY>
<!ATTLIST projects id ID #REQUIRED>
<!ELEMENT project ANY>
<!ATTLIST project id ID #REQUIRED>
<!ELEMENT teamBase ANY>
<!ATTLIST teamBase id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT customers ANY>
<!ATTLIST customers id ID #REQUIRED>
<!ELEMENT customer ANY>
<!ATTLIST customer id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="e7d98091-7ad0-476f-87df-c0f0d2883bcc" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-23T10:11:28" updateDate="2018-03-03T17:10:07" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <childMenusEnabled>0</childMenusEnabled>
    <hideInNavigation>0</hideInNavigation>
    <isFeatured>0</isFeatured>
    <socialLinks><![CDATA[[
  {
    "caption": "facebook",
    "link": "#",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "facebook"
  }
]]]></socialLinks>
    <workHours><![CDATA[Monday - Friday: 9:00 AM to 5:00 PM]]></workHours>
    <phone><![CDATA[123456]]></phone>
    <address2><![CDATA[Address Two]]></address2>
    <embeddedSocialPage><![CDATA[<div class="fb-page" 
  data-href="https://www.facebook.com/zone7systems"
  data-width="380" 
  data-hide-cover="false"
  data-show-facepile="true"></div>]]></embeddedSocialPage>
    <address1><![CDATA[Address One]]></address1>
    <fax><![CDATA[654321]]></fax>
    <googleMapLink><![CDATA[https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4660.602375695406!2d106.63776941067404!3d10.804891323281199!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x374ef8c5c4b3d77a!2sVistar+-+Pharmacies+neighbors!5e0!3m2!1sen!2s!4v1509434871479]]></googleMapLink>
    <email><![CDATA[email@email.com]]></email>
    <sliders><![CDATA[[{"key":"e2173638-5df2-4f75-aab1-c92af9f322e5","name":"Item 1","ncContentTypeAlias":"sliderBase","sliderTitle":"Slider 1","sliderDescription":"Slider 1 Description","sliderImages":"umb://media/a0ef2e6b34fc439791ad5d8e1eedb83b"},{"key":"7b0adebd-6b4d-4754-8aad-fb523a367233","name":"Item 2","ncContentTypeAlias":"sliderBase","sliderTitle":"Slider 2","sliderDescription":"","sliderImages":"umb://media/a0ef2e6b34fc439791ad5d8e1eedb83b"}]]]></sliders>
    <logo><![CDATA[umb://media/64245d81d3fd4d78bcfe5c7e3589f0e7]]></logo>
    <services id="1095" key="476db509-cc97-4502-8948-b043df847285" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-02-20T15:42:40" updateDate="2018-02-20T16:09:45" nodeName="Services" urlName="services" path="-1,1055,1095" isDoc="" nodeType="1093" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1061" nodeTypeAlias="services" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>0</hideInNavigation>
      <pageTitle><![CDATA[Services]]></pageTitle>
      <service id="1109" key="6858df77-f61a-4845-a90b-44f7a90063a8" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T11:38:41" updateDate="2018-02-28T10:24:40" nodeName="e-Commerce Website" urlName="e-commerce-website" path="-1,1055,1095,1109" isDoc="" nodeType="1094" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1062" nodeTypeAlias="service" isPublished="true">
        <childMenusEnabled>0</childMenusEnabled>
        <hideInNavigation>0</hideInNavigation>
        <pageTitle><![CDATA[e-Commerce Website]]></pageTitle>
        <isFeatured>1</isFeatured>
        <pageDescription><![CDATA[This is page description]]></pageDescription>
        <pageContent><![CDATA[<p>This is main content!</p>]]></pageContent>
      </service>
    </services>
    <products id="1072" key="8fbbfe6a-4df6-409d-9a21-a9846c7ef9aa" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-01-24T11:10:19" updateDate="2018-02-28T13:46:32" nodeName="Products" urlName="products" path="-1,1055,1072" isDoc="" nodeType="1059" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1058" nodeTypeAlias="products" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>0</hideInNavigation>
      <isFeatured>0</isFeatured>
      <pageDescription><![CDATA[asdf]]></pageDescription>
      <product id="1073" key="9a21ed87-2eff-4ce6-bc1e-1fc514552795" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2018-01-24T11:11:44" updateDate="2018-02-28T10:25:15" nodeName="IMS.Net" urlName="imsnet" path="-1,1055,1072,1073" isDoc="" nodeType="1057" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1056" nodeTypeAlias="product" isPublished="true">
        <childMenusEnabled>0</childMenusEnabled>
        <hideInNavigation>0</hideInNavigation>
        <pageTitle><![CDATA[IMS.Net Solutions]]></pageTitle>
        <isFeatured>1</isFeatured>
        <image><![CDATA[umb://media/fb127aa521fd403a98afe9b2523e7132]]></image>
        <pageDescription><![CDATA[aadsfsad 
asdfad
 adfdsf]]></pageDescription>
        <socialLinks><![CDATA[[
  {
    "caption": "facebook",
    "link": "#",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "facebook"
  }
]]]></socialLinks>
        <sliderImages><![CDATA[umb://media/fb127aa521fd403a98afe9b2523e7132]]></sliderImages>
      </product>
      <product id="1074" key="dca73312-c498-4251-80ba-82a0a66079c1" parentID="1072" level="3" creatorID="0" sortOrder="1" createDate="2018-01-24T11:12:31" updateDate="2018-02-12T16:58:22" nodeName="IMS.Net Mobile" urlName="imsnet-mobile" path="-1,1055,1072,1074" isDoc="" nodeType="1057" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1056" nodeTypeAlias="product" isPublished="true">
        <childMenusEnabled>0</childMenusEnabled>
        <hideInNavigation>0</hideInNavigation>
        <featureImage><![CDATA[umb://media/fb127aa521fd403a98afe9b2523e7132]]></featureImage>
        <featureVisible>0</featureVisible>
        <featureTitle><![CDATA[IMS.Net Mobile]]></featureTitle>
        <pageTitle><![CDATA[IMS.Net Mobile]]></pageTitle>
        <sliderImages><![CDATA[umb://media/fb127aa521fd403a98afe9b2523e7132]]></sliderImages>
      </product>
    </products>
    <projects id="1103" key="478488e1-1bee-489a-a60f-333ef60a7b5e" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T09:59:43" updateDate="2018-02-21T10:06:25" nodeName="Projects" urlName="projects" path="-1,1055,1103" isDoc="" nodeType="1101" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1063" nodeTypeAlias="projects" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>0</hideInNavigation>
      <pageTitle><![CDATA[Projects]]></pageTitle>
      <sliderImages><![CDATA[umb://media/78cb1dc8370a4503834bbabeb40e36e4]]></sliderImages>
      <project id="1113" key="6ea21a39-2178-4a78-a191-9328e004373c" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2018-02-23T10:37:44" updateDate="2018-02-28T10:25:37" nodeName="IMS.Net" urlName="imsnet" path="-1,1055,1103,1113" isDoc="" nodeType="1102" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1065" nodeTypeAlias="project" isPublished="true">
        <childMenusEnabled>0</childMenusEnabled>
        <hideInNavigation>0</hideInNavigation>
        <pageTitle><![CDATA[IMS.Net Solutions]]></pageTitle>
        <isFeatured>1</isFeatured>
        <image><![CDATA[umb://media/d3a4e1e76b6d495d8db1fa97cb480bf0]]></image>
        <pageContent><![CDATA[<p>IMS.Net is awesome!</p>]]></pageContent>
        <sliderImages><![CDATA[umb://media/3f12301fbdb7461aafee12f5b9615a2a]]></sliderImages>
      </project>
    </projects>
    <contactPage id="1089" key="882bdc2d-8d9a-4b17-9d4a-c5ed2771e1c9" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-02-12T15:59:26" updateDate="2018-02-27T13:50:41" nodeName="Contact Us" urlName="contact-us" path="-1,1055,1089" isDoc="" nodeType="1088" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1087" nodeTypeAlias="contactPage" isPublished="true">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <sliderImages><![CDATA[umb://media/e18dd38c6b3b4688b9bdc4b0cb7d26e5]]></sliderImages>
      <sliderTitle><![CDATA[Contact Us]]></sliderTitle>
      <workHours><![CDATA[Monday - Friday: 9:00 AM to 5:00 PM]]></workHours>
      <phone><![CDATA[(000) 000-0000]]></phone>
      <address2><![CDATA[Ho Chi Minh City, Vietnam]]></address2>
      <address1><![CDATA[2A Nhat Chi Mai Street, P13. Tan Binh]]></address1>
      <fax><![CDATA[Mon]]></fax>
      <email><![CDATA[email@email.com]]></email>
    </contactPage>
    <aboutPage id="1098" key="9e46304b-281d-45fb-a75b-c1dd09f926e7" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2018-02-20T16:15:12" updateDate="2018-02-23T10:49:20" nodeName="About Us" urlName="about-us" path="-1,1055,1098" isDoc="" nodeType="1097" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1086" nodeTypeAlias="aboutPage" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>0</hideInNavigation>
      <pageTitle><![CDATA[About Us]]></pageTitle>
      <pageContent><![CDATA[<h2>About Modern Business</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>]]></pageContent>
      <teamMates><![CDATA[[{"key":"ab92be18-cdc3-401f-b03a-7def088890a7","name":"Item 1","ncContentTypeAlias":"teamBase","fullName":"Peter Gil O. Villar","position":"Senior Developer / Architect","description":"I love my job!","photo":"umb://media/64245d81d3fd4d78bcfe5c7e3589f0e7","socials":"[\r\n  {\r\n    \"caption\": \"Website\",\r\n    \"link\": \"http://zone7systems.com\",\r\n    \"newWindow\": true,\r\n    \"edit\": false,\r\n    \"isInternal\": false,\r\n    \"type\": \"external\",\r\n    \"title\": \"Website\"\r\n  }\r\n]"}]]]></teamMates>
    </aboutPage>
    <customers id="1126" key="01c580bf-9248-482f-9ba8-61e778bf950d" parentID="1055" level="2" creatorID="0" sortOrder="5" createDate="2018-02-28T10:26:17" updateDate="2018-02-28T10:26:17" nodeName="Customers" urlName="customers" path="-1,1055,1126" isDoc="" nodeType="1124" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1099" nodeTypeAlias="customers" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>1</hideInNavigation>
      <isFeatured>0</isFeatured>
      <customer id="1127" key="d443ba81-263e-4707-847b-fa5e708e437d" parentID="1126" level="3" creatorID="0" sortOrder="0" createDate="2018-02-28T10:26:46" updateDate="2018-02-28T10:27:42" nodeName="Customer 1" urlName="customer-1" path="-1,1055,1126,1127" isDoc="" nodeType="1125" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1100" nodeTypeAlias="customer" isPublished="true">
        <pageTitle><![CDATA[Customer 1]]></pageTitle>
        <isFeatured>0</isFeatured>
        <image><![CDATA[umb://media/c14ef4dc70f9447585bcd26d73ed4b1a]]></image>
        <pageDescription><![CDATA[Customer 1
Customer 1
Customer 1
Customer 1]]></pageDescription>
      </customer>
    </customers>
    <search id="1130" key="65e31f2e-9285-4781-af61-5e9c713d8dd2" parentID="1055" level="2" creatorID="0" sortOrder="6" createDate="2018-02-28T14:16:08" updateDate="2018-02-28T14:39:20" nodeName="Search" urlName="search" path="-1,1055,1130" isDoc="" nodeType="1128" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1129" nodeTypeAlias="search" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>1</hideInNavigation>
    </search>
    <contentPage id="1131" key="748c8c29-366e-4dba-8f8f-3b343d28fe7a" parentID="1055" level="2" creatorID="0" sortOrder="7" createDate="2018-02-28T14:59:05" updateDate="2018-02-28T15:15:43" nodeName="Page Not Found" urlName="page-not-found" path="-1,1055,1131" isDoc="" nodeType="1122" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1116" nodeTypeAlias="contentPage" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>1</hideInNavigation>
      <pageTitle><![CDATA[404]]></pageTitle>
      <isFeatured>0</isFeatured>
      <pageContent><![CDATA[<p>Page not found!</p>]]></pageContent>
    </contentPage>
    <contentPage id="1132" key="b682c702-2082-4fc9-871f-536fc4833d5f" parentID="1055" level="2" creatorID="0" sortOrder="8" createDate="2018-02-28T15:00:53" updateDate="2018-02-28T15:15:46" nodeName="Server Error" urlName="server-error" path="-1,1055,1132" isDoc="" nodeType="1122" creatorName="Peter Gil O. Villar" writerName="Peter Gil O. Villar" writerID="0" template="1116" nodeTypeAlias="contentPage" isPublished="true">
      <childMenusEnabled>0</childMenusEnabled>
      <hideInNavigation>1</hideInNavigation>
      <pageTitle><![CDATA[500]]></pageTitle>
      <isFeatured>0</isFeatured>
      <pageContent><![CDATA[<p>Server Error!</p>]]></pageContent>
    </contentPage>
  </home>
</root>